#form {
    border: 2px solid black;
    width: 500px;
    text-align: center;
    margin: 150px auto auto auto;
    border-radius: 50px;
    background-color: lightgray;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

label {
    display: inline-block;
    width: 150px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: Arial;
}

input {
    display: inline-block;
    width: 200px;
    color: Lightgray;
    margin: 5px auto 5px auto;

}

.button {
    text-align: center;
    width: 80px;
    height: 30px;
    background-color: rgb(23, 230, 16);
    border-radius: 10px;
    font-family: Arial;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(217, 255, 0);
}

hr {
    margin: auto 50px auto 50px;
    color: rgb(0, 0, 0);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(10, 11, 34);
    text-align: center;
    margin-bottom: 20px;

}
.form_p {
    display: inline-block;
    text-align: left;
    margin: 0 50px 0 0;
}

.portfolio {
    text-align: center;
    font-family: Arial;
    color: rgb(0, 0, 0);}

a {
    color: black;
    font-style: oblique;
}

img {
    display: inline;
    height: 600px;
    width: 100%;
    border-radius: 250px;
}

#image_div {

    width: 25%;
    margin: 0 auto 50px auto;
    text-align: center;
}

h2 {
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-style: oblique;
}

.swimming {
    color: rgb(0, 0, 0);
    text-indent: 20px;
    margin: 0 50px 0 50px;
}

ul {
    list-style-type: circle;
    color: rgb(0, 0, 0);
    margin-left: 70px;
}

table, th, td {
    border: 2px solid rgb(9, 2, 48);
    border-collapse: collapse;
    padding: 12px;
    color: rgb(2, 49, 49);
}

.header {
    font-size: 25px;
    font-style: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(42, 157, 165);
}